body {
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dog-container {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.dog-image {
  width: auto; 
  height: 500px; 
  border-radius: 8px;
  margin-bottom: 20px;
}

.fetch-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fetch-button:hover {
  background-color: #2980b9;
}